<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House Form</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
<a href="{% url "user_admin:apartment-create" pk=house.pk %}">Create apartment</a>
{% for apartment in house.apartment_set.all %}
    <p><a href="{% url "user_admin:apartment-update" pk=apartment.pk %}">Appartment number: {{ apartment.number }}</a></p>
        <p>Price: {{ apartment.price }}</p>
        <p>Square: {{ apartment.square }}</p>
        <p>Rooms: {{ apartment.rooms_count }}</p>
        <a href="{% url "user_admin:resident-create" pk=apartment.pk %}">Create resident</a>
        {% for resident in apartment.resident_set.all %}
            <p>Residents:</p>
            <p>Name: {{ resident.first_name }} {{ resident.second_name }}</p>
            <p>Age: {{ resident.age }}</p>
            <p>Sex: {{ resident.sex }}</p>
            <p>Salary: {{ resident.salary }}</p>
        {% endfor %}
        <br>
{% endfor %}

</body>
</html>