<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House detail: {{ house.address }}</title>
</head>
<body>
    <p>{{ house.address }}</p>
    <p>{{ house.material }}</p>
    <p>{{ house.company }}</p>
    {% for apartment in apartments %}
        <p>Appartment number: {{ apartment.number }}</p>
        <p>Price: {{ apartment.price }}</p>
        <p>Square: {{ apartment.square }}</p>
        <p>Rooms: {{ apartment.rooms_count }}</p>
        {% for resident in apartment.resident_set.all %}
            <p>Residents:</p>
            <p>Name: {{ resident.first_name }} {{ resident.second_name }}</p>
            <p>Age: {{ resident.age }}</p>
            <p>Sex: {{ resident.sex }}</p>
            <p>Salary: {{ resident.salary }}</p>
        {% endfor %}
        <br>
    {% endfor %}

</body>
</html>