<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Houses</title>
</head>
<body>
    {% for house in houses %}
        <p><a href="{% url "housing:house-detail" pk=house.pk %}">{{ house.address }}</a></p>
        <p>{{ house.company }}</p>
        <p>{{ house.material }}</p>
    {% endfor %}

</body>
</html>